html {
    height: 100%; 
}
body {
    height: 100%; 
    margin: 0; 
}
h1 {
    text-align: center; 
}
.card-grid {
    display: flex; 
    flex-wrap: wrap; 
    align-content: space-around;
    padding: 10px; 
    
}
.front-back {
    /* potentially add position and transition to test animation for card-deck shuffle would 
    have to stop using flex-box */
    background-size: cover; 
    margin: 10px;
    
}
img {
    height: 100%; 
    width: 100%; 
}
.front-back:hover {
    cursor: pointer;
}
.front-card, .back-card {
    height: 280px;
    width: 200px; 
    background-size: cover; 
    background-position: center; 
}

.front-back.flipped .front-card {
    display: block;
}

.front-card {
    display: none; 
} 
.front-card-display {
    display: block; 
}
.back-card {
    background-image: url(images/backOfCard.jpeg);
    
}
.ace-hearts .front-card {
    position: absolute;
    background-image: url(images/aceOfHearts.jpeg);  
    
}

.diamonds7 .front-card {
    position: absolute;
    background-image: url(images/7ofDiamonds.png);

}

.queen-clubs .front-card {
    position: absolute;
    background-image: url(images/queenOfClubs.png);

}
.ace-diamonds .front-card {
    position: absolute; 
    background-image:url(images/aceOfDiamonds.png);

}
.hearts7 .front-card{
    position: absolute;
    background-image: url(images/7ofHearts.jpg); 

}
.queen-spades .front-card{
    position: absolute; 
    background-image: url(images/queenOfSpades.png);
}
